body {
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: auto;
    width: 100%;
    color: #000208;
}

/* Header */
header {
    display: flex;
    align-items: center;
    height: 10%;
    background-color: #888690;
    border-bottom: solid 5px #ebd9c3;
    color: #f2f1f6;
    
}
header .highlight, .active a{
    color: rgb(240, 199, 149);
    font-weight: bold;
    }
header h1 {
    display: flex;
    width: 40%;
    padding-left: 3%;
}
header nav {
    display: flex;
    width: 60%;
    padding-right: 3%;
    justify-content: flex-end;   
}
header nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
header nav ul li {
    padding-left: 15px;
    color: #f2f1f6;
}
li a {
    text-decoration: none;
    color: #f2f1f6;
    font-size: 17px
}
header a:hover{
    color: #c7c2c1;
    font-weight: bold;
    font-size: 18px
}
/* Section */
section {
    display: flex;
    flex-direction: row;
    width: auto;
    padding-left: 3%;
    padding-right: 3%;
}
#main {
    width: auto
}
#aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    margin-left: 30px;
    color: #f2f1f6;
    background-color: #888690;
    margin-top: 35px;
    padding: 10px 5px;
    border-radius: 10px;
}
#aside h1 {
    margin: 0;
    padding:0;
    text-align: center
}
span.edit {
    padding-left: 15px;
}
.entry {
    background-color: #888690;
    color: #f2f1f6;
    padding: 5px;
    border-radius: 10px 0;
    /* width: 90%; */
}
#showcase {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 200px;
    min-height: 600px;
    padding-left: 3%;
    padding-right: 3%;
    background: url(../images/diary1.jpg);
    background-size: cover;
}
section #showcase h2 {
    text-align: center;
}

button#begin {
    width: 60%;
    height: 60px;
    background-color: rgb(240, 199, 149);
    font-weight: bold;
    font-size: 25px;
    color: #040308;
    border: none;
    border-radius: 15px;
    margin-top: 10px
}
#signUp {
    line-height: 1.5em
}
form {
    display: flex;
    flex-direction: row;
}
form .diaryEntry{
    display: flex;
    flex-direction: column;
}
.fields {
    display: flex;
    flex-direction: column;
    line-height: 2.5em
}
.inputs {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    padding-left: 10px
}
.inputs input {
    height: 30px;
    width: auto;
    margin-bottom: 2px;
    margin-top: 4px;
    border: none;
    border-bottom: #888690 solid 1px;
    background: none
}
.buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-left: 30%;
    margin-top: 10px;
}
button {
    margin-left: 5px;
}

.hide {
    display: none;
}

.modal, .addEntry {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 22rem;
    border-radius: 0.5rem;
}
.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}
.close-button:hover {
    background-color: darkgray;
}
.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

footer {
    display: flex;
    justify-content: center;
    height: 10%;
    background-color: #888690;
    border-top: solid 5px #ebd9c3;
    color: #f2f1f6;
    position: fixed;
    bottom : 0;
    right: 0;
    left: 0; 
}
@media(max-width: 700px) {
    header {
        display: flex;
        flex-direction: column;
    }
    header h1 {
        display: center;
        justify-content: center;
        width:100%;
        padding: none;
    }
    header nav {
        display: flex;
        justify-content: center;
        width:100%;
        padding: none;
        margin-bottom: 10px
    }
    header a:hover{
        color: #c7c2c1;
        font-weight: bold;
        font-size: 18px
    }
    section {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    #aside {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: auto;
}
@media(max-width: 1024px) {
    footer {
        display: flex;
        justify-content: center;
        height: 10%;
        background-color: #888690;
        border-top: solid 5px #ebd9c3;
        color: #f2f1f6;
        
    }  
    #showcase {
        display: flex;
        align-items: flex-start;
        min-height: 1230px;
        padding-top: 180px;
        padding-left: 15px;
        padding-right: 15px;
        background: url(../images/diary1.jpg);
        background-size: cover;
    }
    button#begin {
        margin: 0 auto;
    }
   
}